* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: .7rem;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: black;
    color: white;
}

/* General Styles */

.button {
    padding: .4em;
    border-radius: .3em;
    background-color: #4a4a4a;
    cursor: pointer;
}

.button:hover {
    background-color: #666666;
}

.button:active {
    box-shadow: 2px 2px 5px whitesmoke;
}



/* Top-Bar */


.bar-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem;
    height: 3rem;
}

main {
    padding: 2rem 1rem 3rem;
    height: calc(100vh - 3rem - 5rem);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    overflow-y: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: .5rem;
    row-gap: 1rem;
}

.card {
    position: relative;
    width: calc((100% - .5rem * 6) / 7);
    flex: 1 1 160px;
}

.card img {
    display: block;
    width: 100%;
}

.card .tag {
    position: absolute;
    bottom: .1rem;
    left: 0;
    padding: .5em;
    background-color: rgba(0, 0, 0, .4);
}



/* Bar Bottom */

.bar-bottom {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color: #222222;
}

.bottom-left {
    display: flex;
}

.button-dash {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem
}

.button-dash:hover {
    background-color: #aaaaaa;
    cursor: pointer;
}

.button-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.dash-ico {
    font-size: 2rem;
}

#button-special {
    flex-direction: row-reverse;
}

#special-dash-ico {
    color: #4bc800;
}

.bottom-center {
    display: flex;
    row-gap: .4rem;
}

.bottom-right {
    display: flex;
}

.bottom-right .button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    border-radius: 0;
}
